{% extends 'base.html.twig' %}

{% block title %}Détails du responsable{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Détails du responsable</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsable.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ responsable.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ responsable.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ responsable.email }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('admin_responsables_edit', {'id': responsable.id}) }}" class="btn btn-warning">Modifier</a>
    <a href="{{ path('admin_responsables_index') }}" class="btn btn-secondary ms-2">Retour à la liste</a>
</div>
{% endblock %}