{{ form_start(form) }}

<div class="mb-3">
    {{ form_row(form.auteur) }}
</div>

<div class="mb-3">
    {{ form_row(form.description) }}
</div>

<div class="mb-3">
    {{ form_row(form.categorie) }}
</div>

<div class="mb-3">
    {{ form_row(form.etat) }}
</div>

<div class="mb-3">
    {{ form_row(form.responsable) }}
</div>

<button type="submit" class="btn btn-primary">
    {{ button_label|default('Enregistrer') }}
</button>

{{ form_end(form) }}